:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color: aliceblue;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

* {
  transition: all .2s;
}